@model SocialAnalyzer.models.TikTokUser;
<div style="width:100%" class="box">
    <div style="float: left">
        <img src="@Model.userImg" class="box-160-280 rounded-circle img-thumbnail" />
    </div>
    <div style="float: left">
        <h1>@Model.userTitle</h1>
        <h2>@Model.userSubtitle</h2>
        <h7>@Model.userDescription</h7>
    </div>
</div>
<div class="box">
    <table>
        <tr>Слідкувачі:@Model.userSumFollowers </tr>
        <tr>Уподобання:@Model.userSumLikes </tr>
        <tr>Слідкування</tr>
    </table>
</div>
<div class="box">
    <h4>Відео</h4>
    <div class="videos-div">
        @foreach (var video in Model.videos)
        {
            <div>
                <p>@video.Title</p>
            </div>
        }
    </div>
</div>