@model SocialAnalyzer.models.TikTokUser;
<div style="width:100%" class="box">
    <div style="float: left">
        <img src="@Model.userImg" class="box-160-280 rounded-circle img-thumbnail" />
    </div>
    <div style="float: left">
        <h1>@Model.userTitle</h1>
        <h5>@Model.userSubtitle</h5>
        <h7>@Model.userDescription</h7>
    </div>
</div>
<div class="box">
    <table>
        <tr>Слідкувачі:@Model.userSumFollowers </tr>
        <tr>Уподобання:@Model.userSumLikes </tr>
        <tr>Слідкування</tr>
    </table>
</div>
<div class="container">
    <div class="section">
        <h2>Перегляди відео</h2><br />
        <p>Середні перегляди відео: @Model.userAwgViews</p>
    </div>
    <div class="section">
        <h2>Темп підписок</h2><br />
        <p>Середні підписки в день: @Model.userLastMonthFollowers</p>
    </div>
    <div class="section">
        <h2>Вподобання</h2>
        <p>Середні вподобання відео: @Model.userAwgLikes</p>
    </div>
    <div class="section">
        <h2>Підписники</h2>
        <p>Текст розділу 4</p>
    </div>
</div>